/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Global */
:root {
  --main-color: #7928ca;
  --color-1: #ff0080;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.section-padding {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  background: linear-gradient(310deg, #7928ca, #ff0080);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2px 2px 2px 2px;
}

.section-title-2 h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  color: #ffffff;
  margin-bottom: 60px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2100;
  background: linear-gradient(310deg, #7928ca, #ff0080);
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader span i {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: Spin_01 1.5s linear infinite;
  font-size: 50px;
}

@keyframes Spin_01 {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Navbar */
.navbar {
  padding: 20px 0;
  transition: all 0.5s ease;
}

.bg-dark {
  background: transparent !important;
  transition: 0.5s ease;
}

.bg-dark.scrolled {
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  margin: 10px 15px 0px 15px;
  padding: 3px 0;
  border-radius: 30px 30px 30px 30px;
}

.bg-dark.scrolled .navbar-toggler {
  background: linear-gradient(310deg, #7928ca, #ff0080);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar > .container {
  padding: 0 15px;
}

.navbar .nav-item {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  position: relative;
  background-color: transparent;
}

.bg-dark.scrolled .nav-item .nav-link {
  color: #7928ca;
}

.navbar .nav-item .nav-link {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  position: relative;
}

.navbar .nav-item .nav-link.active {
  font-weight: 500;
}

.bg-dark.scrolled .nav-item .nav-link.active {
  font-weight: 500;
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border: none;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  left: 0;
  right: 0;
  margin: 10px 0 10px 0;
}

.bg-dark.scrolled .dropdown-menu {
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0, 0%, 100%, 0.9) !important;
}

.dropdown-item {
  padding: 0.3rem 1rem;
  color: #7928ca;
}

.bg-dark.scrolled i.fas.fa-angle-down {
  color: #7928ca;
}

i.fas.fa-angle-down {
  margin-left: 0.255rem;
  padding-top: 2%;
  float: right;
}

@media (max-width: 1920px) {
  .navbar {
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (max-width: 1200px) {
  .navbar {
    max-width: 94%;
  }
}
@media (max-width: 992px) {
  .navbar {
    max-width: 92%;
  }
  .navbar-toggler {
    height: 34px;
    width: 44px;
    padding: 0;
    font-size: 17px;
    color: #ffffff;
  }
  .navbar .nav-item {
    margin: 0;
    padding: 5px 15px;
  }
  .navbar-collapse {
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0, 0%, 100%, 0.9) !important;
  }
  .bg-dark {
    transition: 0.5s ease;
  }
  .bg-dark.scrolled .nav-item .nav-link {
    color: #7928ca;
    font-weight: 400;
  }
  .bg-dark .nav-item .nav-link {
    color: #7928ca;
  }
  .dropdown-toggle::after {
    display: none;
  }
  i.fas.fa-angle-down {
    float: right;
    padding-top: 2px;
  }
  .navbar .nav-item .nav-link::before {
    background-color: var(--main-color);
  }
  .bg-dark .navbar-collapse {
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
  }
  .bg-dark.scrolled .navbar-collapse {
    box-shadow: none;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 1rem;
  }
  .dropdown-menu {
    box-shadow: none;
    backdrop-filter: saturate(0%) blur(0px);
    background-color: hsla(0, 0%, 100%, 0) !important;
  }
  .bg-dark.scrolled .dropdown-menu {
    background-color: transparent;
    backdrop-filter: saturate(0%) blur(0px);
    background-color: hsla(0, 0%, 100%, 0) !important;
  }
}

.home {
  min-height: 100vh;
  padding: 150px 0;
  background-image: linear-gradient(310deg, #7928ca, #ff0080);
}

@media (max-width: 992px) {
  .home {
    padding-bottom: 10px;
  }
}

/* Galeri Foto */
.galeri-foto {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #000;
  padding: 80px 0;
  background-color: var(--black-100);
}

.body-blog {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.blog-spot {
  width: 100%;
  max-width: 150rem;
  padding: 5rem;
  background-color: #fff;
  box-shadow: var(--shadow-black-300);
  display: flex;
  align-items: center;
  border-radius: 0.8rem !important;
  transform: translateX(1.35rem);
}

.blog-spot-img {
  min-width: 28rem;
  max-width: 28rem;
  height: 20rem;
  transform: translateX(-8rem);
  position: relative;
}

.blog-spot-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.blog-spot-img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--shadow-black-100);
  border-radius: 0.8rem;
}

.blog-spot-title {
  font-size: 2rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.blog-spot-text {
  margin-bottom: 3rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.7);
}

/* Button */
.btn-1 {
  background-color: var(--main-color);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
  margin-top: 10px;
}

.btn-1:focus {
  box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
  color: var(--main-color);
  background-color: #ffffff;
  text-decoration: none;
}

.btn-2 {
  background-color: var(--main-color);
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
  margin-top: 10px;
}

.btn-2:focus {
  box-shadow: var(--shadow-black-300);
}

.btn-2:hover {
  color: var(--main-color);
  background-color: #ffffff;
  text-decoration: none;
}

@media (max-width: 992px) {
  .col-md-4.mb-5 {
    margin-bottom: 1rem !important;
  }
  .galeri-foto {
    padding-top: 5px;
    padding-bottom: 0;
  }
  .blog-spot {
    margin-top: 2rem;
    padding: 1rem;
    flex-direction: column;
    transform: translateX(0);
  }
  .blog-spot-title {
    font-size: 1.8rem;
    margin: 1rem 0 2rem;
    text-transform: uppercase;
  }
  .blog-spot-text {
    margin-bottom: 3rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .blog-spot-img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -3rem);
  }
  .btn-1 {
    margin-bottom: 10px;
    float: left;
  }
}

.slide-box {
  box-shadow: var(--shadow-black-100);
  text-decoration: none;
  transition: all 0.5s ease;
}

.slide-box:hover {
  box-shadow: var(--shadow-black-300);
  text-decoration: none;
  cursor: pointer;
}

.slide-box img {
  flex-basis: 32% !important;
  border-radius: 0px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

/* Slider */
#slider {
  flex-basis: 90%;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* Video */
.col-md-12,
.col-md-8 {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

@media (max-width: 992px) {
  .galeri-video-hero {
    padding: 2px 10px;
  }
  .galeri-video-mini .col-md-12 {
    padding: 2px 5px 2px 5px;
  }
  .galeri-video.section-padding {
    padding-bottom: 4px;
  }
}

/* Footer */
.footer {
  background: linear-gradient(310deg, #7928ca, #ff0080);
}

.footer .copyright-text {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: rgba(225, 225, 225, 0.9);
  font-weight: 300;
  margin: 0 0 0 0;
}

/* Design */
.epictne {
  font-weight: 400;
  color: var(--black-400);
  transition: all 0.5s ease;
}

.epictne:hover {
  background: linear-gradient(310deg, #7928ca, #ff0080);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
